---
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="A Dimension 20 fansite" />
  </head>
  <body class="bg-secondary-300">
    <h1>Astro</h1>
  </body>
</html>
