---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Home" description="A Dimension 20 fansite" />
  </head>
  <body class="bg-secondary-300">
    <Header />
  </body>
</html>
