---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
---

<html lang="en">
  <head>
    <BaseHead
      title="All Campaigns"
      description="An index of all the Dimension 20 campaigns"
    />
  </head>

  <body class="bg-secondary-300">
    <Header />
    <main>
      <h1>Campaigns in Order</h1>
    </main>
  </body>
</html>
